<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <title>Buscar</title>
</head>
<body>
<h1>Busca por Nome</h1><br><br>
<form action="/busca" method="post">
    Nome do Produto: <input type="text" name="produto">
</form>

</body>
</html>