<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <title>Deletar</title>
</head>
<body>
<h1>Deletar produto através do ID</h1><br><br>
<form action="/deleta" method="post">
    ID do Produto: <input type="text" name="i_d">
</form>

</body>
</html>