<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Página Inicial</title>
    </head>
<body>
    <h1>Loja de Informática - Estoque</h1><br><br>
    <img src="tech-gadgets.jpg" alt="imagem"><br><br>
    <a href="/cad">Cadastrar Produtos</a><br>
    <a href="/src">Buscar Produtos por Nome</a><br>
    <a href="/del">Deletar Produtos por ID</a><br>
    <a href="/att">Atualizar Produtos por ID</a>
</body>
</html>