<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <title>Página Inicial</title>
    <link href="estilo.css" rel="stylesheet">
</head>
<body>
<form action="/criaPost" method="post">
    <div id="form">
        Criar Post
        <input placeholder="Título" id="titulo" type="text" name="titulo">
        <input placeholder="Resumo" id="resumo" type="text" name="resumo">
        <input placeholder="Conteúdo" id="conteudo" type="text" name="conteudo">
        <input id="enviar" type="submit" value="Enviar">
    </div>
</form>

</body>
</html>