<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <title>Resposta</title>
    <link href="estilo.css" rel="stylesheet">
</head>
<body>
<h1 id="msg"> Post Cadastrado!</h1>
<a id="pgin" href="/">Página Principal</a>

</body>
</html>