<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cadastro</title>
</head>
<body>
<h1>Logar</h1>
<img src="login.png" alt="login"/>
<form action="/login" method="post">
    Login: <input type="text" name="logar_login"><br>
    Senha:<input type="password" name="logar_senha"><br>
    <input type="submit" value="Logar">
    <!--Qnd o submit for pressionado, as informações
    serão mandadas para o que está no action (que
    nesse caso é o cadastra_user, através do método
    post-->
</form>
<a href="/cadastra">Cadastrar Usuário</a>
</body>
</html>